{% extends 'base.html' %}
{% load static %}
{% block title %}Удаление поста{% endblock %}

{% block header %}
 <header class="nav">
     <div class="nav-find">
         <form method="GET" action="{% url 'posts' %}">
             <label>Поиск поста</label>
             <br>
             <input type="text" class="find" name="find" placeholder="Найти..">
         </form>
     </div>
     <div class="user-name">
         <p> Ваше имя: {{request.user}}</p>
     </div>
     <div class="nav-exit">
         <a href="{% url 'log-out' %}" class="nav-exit"> Выйти </a>
     </div>
 </header>
{% endblock %}

{% block content %}
  <a href="{% url 'posts' %}" class="return"> < </a>
  <br>
  <div class="delete-post">
      <form method="POST" action="">
          {% csrf_token %}
          <p>Точно хотите удалить пост под названием "{{post.title}}"? </p>
          <input type="submit" value="Удалить" class="btn_del"/>
      </form>
  </div>
{% endblock content %}