{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}

     <form method="POST" action="">
         {% csrf_token %}
         <div class="reg-user">
            <p>Ваш пароль не может быть слишком похож на другую вашу личную информацию.</p>
            <p>Ваш пароль должен содержать не менее 8 символов.</p>
            <p>Ваш пароль не может быть часто используемым паролем.</p>
            <p>Ваш пароль не может быть полностью числовым.</p>
         
         <br>
         <label>Введите имя:</label>
         <input type="text" name="username" class="input-border"/>
         <br>
         <label>Введите новый пароль:</label>
         <input type="text" name="password" class="input-border"/>
         <br><br>
         <input type="submit" value="Поменять" class="btn"/>
         <br><br>
         </div>
     </form>

{% endblock %}